.App{
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 50px auto 50px;
}

.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
}


*{
  font-family: Microsoft JhengHei;
}

button{
  outline: none;
}